<div class="p-6">


    <div class="flex justify-between items-center mb-6">
        <h4 class="font-bold text-2xl"></h4>
        <button type="button" (click)="openModel()"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-full px-6 py-3 text-center mb-2">
            Add Tourist Attraction
        </button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
        <div class="bg-white rounded-lg shadow-lg p-6"
            *ngFor="let attraction of touristAttractions | paginate:{itemsPerPage: itemsPerPage, currentPage: currentPage}">
            <img [src]="attraction.url" alt="{{ attraction.name }}" class="w-full h-48 object-cover rounded-t-lg mb-4">
            <div class="text-center">
                <h4 class="text-xl font-semibold text-gray-800 mb-2">{{ attraction.name }}</h4>
                <p class="text-gray-600 mb-4">{{ attraction.description }}</p>
                @for (city of cities; track $index) {
                <p class="text-gray-600 font-medium" *ngIf="city.id == attraction.cityId">
                    {{ city.name }}
                </p>
                }
                <div class="flex justify-between mt-4">
                    <button type="button" (click)="loadToursistAttraction(attraction)"
                        class="text-blue-600 hover:text-blue-800">Edit</button>
                    <button type="button" (click)="deleteToursistAttraction(attraction.id)"
                        class="text-red-600 hover:text-red-800">Delete</button>
                </div>
            </div>
        </div>

    </div>

    <div class="flex justify-center mt-6">
        <pagination-controls (pageChange)="currentPage 
		= $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
    </div>

</div>


<app-model [isOpen]="isModelOpen" (closeModel)="closeModel()">
    <app-form-tourist-atrractions (onCloseModel)="closeModel()"
        [data]="touristAttraction"></app-form-tourist-atrractions>
</app-model>