<div class="bg-slate-950 py-6">
    <div class="flex flex-col items-start space-y-4 px-8">
        <p class="text-white text-sm">This page explores aspects of Japanese culture as a resource for academic studies.</p>
        <div class="flex space-x-4">
            <a href="https://www.instagram.com/igorperonico" target="_blank" class="text-gray-700 hover:text-red-500">
                <i class="fab fa-instagram text-2xl"></i>
            </a>
            <a href="https://github.com/igorperonico" target="_blank" class="text-gray-700 hover:text-red-500">
                <i class="fab fa-github text-2xl"></i>
            </a>
            <a href="https://www.facebook.com/igormonteiro07" target="_blank" class="text-gray-700 hover:text-red-500">
                <i class="fab fa-facebook text-2xl"></i>
            </a>
            <a href="https://www.linkedin.com/in/igorperonico/" target="_blank" class="text-gray-700 hover:text-red-500">
                <i class="fab fa-linkedin text-2xl"></i>
            </a>
        </div>
        <hr class="w-full border-t-1 border-gray-500">
        <p class="text-white text-sm">© 2024 Igor Perônico. All rights reserved.</p>
    </div>
</div>
