<nav class="bg-off-white p-4 shadow-lg flex justify-between items-center">
    <div>
        <a href="/home" class="text-2xl font-bold">
            <span class="text-white">Welcome</span>
            <span class="text-red-500">Japan</span>
        </a>
    </div>
    <div class="flex space-x-6">
        <a href="/tourist-attractions" class="text-white hover:text-blue-700 font-medium">Tourist Attractions</a>
        <a href="/dashboard" class="text-white hover:text-blue-700 font-medium">Dashboard</a>
        <button class="bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-600" (click)="logout()">Logout</button>
    </div>
</nav>